* {
    margin: 0;
    padding: 0;
}

:root {
    color-scheme: light dark;
}

body {
    color: light-dark(#ffffff, #000000);
    background-color: light-dark(#000000, #ffffff);
    font-family: "Georgia", serif;
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 1.2;
}
